<!DOCTYPE html>
<html>
<head>   <link rel="stylesheet" type="text/css" href="application.css" media="screen" />
</head>
<body>


  <div class="container">

    <ul class="nav">
      <a href="https://plus.google.com/u/0/?tab=wX"><li id="1">+Jennifer</li></a>
      <a href="https://www.google.com/webhp?hl=en&tab=ww&authuser=0"><li id="2">Search</li></a>
      <a href="https://www.google.com/imghp?hl=en&tab=wi&authuser=0"><li id="3">Images</li></a>
      <a href="https://maps.google.com/maps?hl=en&authuser=0&tab=wl"><li>Maps</li></a>
      <a href="https://play.google.com/?hl=en&authuser=0&tab=w8"><li>Play</li></a>
      <a href="https://www.youtube.com/?hl=en&authuser=0&tab=w1"><li>YouTube</li></a>
      <a href="https://news.google.com/nwshp?hl=en&tab=wn&authuser=0"><li>News</li></a>
      <a href="https://mail.google.com/mail/?tab=wm&authuser=0"><li>Gmail</li></a>
      <a href="https://drive.google.com/?tab=wo&authuser=0"><li>Drive</li></a>
      <a href="https://www.google.com/calendar?tab=wc&authuser=0"><li>Calendar</li></a>
      <a href="http://www.google.com/intl/en/options/"><li>More</li></a>
    </ul>
  </div>
 
 <div class="photo"><img src="https://lh5.googleusercontent.com/-ohi6P7Qgk88/AAAAAAAAAAI/AAAAAAAAAAA/ss7NiL_Z2VM/s27-c/photo.jpg"></img></div>

 <div class="container2">+ Share</div>
  <div class="user_link"><a href="mailto: siciliana@gmail.com">siciliana@gmail.com</a>
</div>


  <p>
    <div class="form">
    <img height= "100px" src="https://www.google.com/images/srpr/logo4w.png"></img></div>
    </p>
    <br>
  <form action="/form" method="post" >
  <input type="text" name="message">
  <br><br>
  <input type="submit" value="Google Search">
  <input type="submit" value="I'm feeling lucky!"></center>

  </div>
</form>
</body>
<div class="footer">

  <ul>
    <li>Advertising Programs‎</li>
    <li>Business Solutions‎</li>
    <li>Privacy & Terms</li>
    <li>+Google‎</li>
    <li>About Google</li>
</div>
</html>